<section  class="careers">
    {% if fields.anchor|length > 0 or custom_id %}
        <div class="section-anchor" id="{{ custom_id ?? fields.anchor }}"></div>
    {% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}
    

    <div class="container relative">           
        <div class="{{ pt }} {{ pb }} flex max-lg:flex-col justify-between items-start transition-top-stagger">
            <div class="flex flex-col items-start justify-start gap-y-[1rem] text-left w-full flex-1 lg:max-w-[25.6875rem]">			
                {% if fields.heading.value|length > 0 %}
                    {% include 'components/heading.twig' with {
                        'class': 'main-title text-black',
                        'indent': '<span class="max-md:hidden w-[12.5rem] h-[2.5rem] shrink-0"></span>',
                        'value': fields.heading.value, 
                        'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                        'has_custom_style': fields.heading.has_custom_style,
                        'style': fields.heading.style,
                        'to_words': true
                    } %}
                {% endif %}
                {% if fields.paragraph|length > 0 or fields.cta.url|length > 0 %}                
                    <div class="para flex flex-col items-start justify-start lg:max-w-[25.6875rem] w-full !pt-0 gap-xs">
                        
                        {% if fields.paragraph|length > 0 %}
                            <div class="para-desc text-black text-[1.125rem]">{{ fields.paragraph }}</div>
                        {% endif %}
                        
                        {% if fields.cta.url|length > 0 %}
                            {% set custom_class = 'btn btn-primary btn-hover-dark' %}							
                        
                            {% include 'components/cta.twig' with {
                            'class' : custom_class,
                            'cta': fields.cta, 
                            'icon': true,
                            } %}
                        {% endif %}
                    </div>                
                {% endif %}
            </div>     
            <div class="transition-top-stagger flex-1 lg:max-w-[54.3125rem] w-full relative">      
            
            </div>
        </div>
    </div>
</section>