@layer components {
    .single-paragraph {
        /* Add your styles here */
        /* @apply flex flex-col gap-[1.5rem] [&_p_strong]:~text-[1rem]/[1.25rem] [&_p_strong]:!font-secondary [&_p_strong]:!font-normal [&_h1]:pb-[0.5rem] max-lg:[&_h1]:text-[2.25rem] [&_h2]:pb-[0.5rem] max-lg:[&_h2]:text-[2rem] [&_h3]:pb-[0.5rem] max-lg:[&_h3]:text-[1.75rem] [&_h4]:pb-[0.5rem] max-lg:[&_h4]:text-[1.5rem] [&_h5]:pb-[0.5rem] max-lg:[&_h5]:text-[1.25rem] [&_h6]:pb-[0.5rem] max-lg:[&_h6]:text-[1rem]; */
        @apply flex flex-col gap-[1.5rem];

        ul {
            @apply !p-0 !gap-0;
        }

        h1,
        h2,
        h3 {
            @apply !mb-0 !pb-[0.5rem];
        }
        h4,
        h5,
        h6 {
            @apply !mb-0 !pb-0;
        }
    }
}