@layer components {
    .explore-more {
        .boxes {
            @apply border-[0.25px] border-solid border-[#DDDCDC] max-lg:flex max-lg:flex-col max-lg:w-full max-lg:items-center;
        }
        
        .box {           
            @apply bg-[#F4EDE9] lg:h-[28.125rem] relative 
            flex flex-col justify-between items-start gap-y-[3.5rem] 
            lg:px-[2.75rem] lg:py-[2.75rem] px-[1.25rem] py-[2rem] 
            border-[0.25px] border-solid border-[#DDDCDC];            

            &__icon {
                @apply w-[2rem] h-[2rem] [&_img]:!object-contain [&_img]:!h-full [&_img]:!w-auto;
            }

            &__title {
                @apply text-black;
            }

            &__content {
                @apply ~text-[0.875rem]/[1rem] ~leading-[1.4rem]/[1.6rem] 2xl:leading-[1.6rem] ~tracking-[-0.0088rem]/[-0.01rem] text-[#57514E] max-lg:leading-[1.4rem];
            }
        }
    }
}
