@layer components {
	.tabbed-sixty-forty {

		.owl-carousel {
			@apply !flex flex-col-reverse;
		}

		.owl-dots {
			@apply flex-1 w-full flex items-center justify-start gap-[0.75rem] relative max-lg:hidden mb-sm;

			.owl-dot {
				button {
					@apply leading-[140%] text-[0.75rem] font-tertiary text-black border-[#57514E] border border-solid rounded-[6.9375rem] px-[1.75rem] py-[0.6rem] cursor-pointer hover:border-[var(--theme-color-dark)] hover:bg-[var(--theme-color-dark)] hover:text-white transition-all ease-in-out duration-200;
				}

				&.active button {
					@apply text-white bg-[var(--theme-color-dark)] border-[var(--theme-color-dark)];
				}
			}
		}
	}
}
