@layer components {
    .process-carousel-wrapper {
        /* Add your styles here */
        @apply bg-[#7A3300];

        .process-carousel {
            @apply relative z-[1] p-0 flex max-md:flex-col max-md:items-center items-stretch justify-start mx-auto overflow-visible;

            /* &::before {
                @apply content-[''] absolute top-0 left-[-100%] h-full w-full z-10 bg-[#7A3300];
            }
            &::after {
                @apply content-[''] absolute top-0 left-[-150%] h-full w-[150%] z-10 bg-cover mix-blend-multiply;
                background-image: url(../../img/svg/process-bg.svg);
            } */

            &__box {
                @apply flex flex-col items-center justify-start text-center bg-[#F4EDE9] ~p-[2rem]/[2.75rem];
            }

            &__title {
                @apply pb-[0.5rem] w-full text-left font-secondary font-normal text-[1.5rem] tracking-[-0.03rem] text-[#1D1D1D];
            }

            &__content {
                @apply !font-secondary font-normal text-black text-opacity-80 ~text-[1.25rem]/[1rem] ~leading-[1.963rem]/[1.5rem] ~tracking-[-0.03rem]/[-0.02rem] w-full text-left;
                p {
                    @apply !font-secondary font-normal text-black text-opacity-80 ~text-[1.25rem]/[1rem] ~leading-[1.963rem]/[1.5rem] ~tracking-[-0.03rem]/[-0.02rem] w-full text-left;
                }
            }

            &.owl-carousel .owl-stage-outer {
                @apply overflow-visible;
            }

            .owl-item::after {
                @apply content-[''] absolute h-full w-[1px] bg-black bg-opacity-[0.10] right-[-32px] top-0 max-md:right-[-16px];
            }

            .owl-item:last-of-type::after {
                @apply hidden;
            }
        
            .owl-stage {                
                @apply flex max-lg:items-start;
            }

            .owl-item {
                @apply flex items-center justify-center h-[inherit] relative;
            }

            .owl-dots {
                @apply flex gap-[0.688rem] justify-center ~pt-[1rem]/[3.5rem];
                
                button.owl-dot {
                    @apply bg-[#D9D9D9] bg-opacity-[.87] !p-[0.375rem] rounded-[0.375rem] hover:bg-[#0071CE];

                    &.active {
                        @apply bg-[#0071CE];
                    }
                }
            }
        }

        .container-fluid {
            @apply max-lg:px-[2rem]
        }
    }
}