@layer components {
    .form-block {
        /* Add your styles here */

        .logo-carousel {
            &.contained {
                .owl-stage {
                    @apply flex items-center justify-center;

                    img {
                        @apply max-h-[6.25rem] object-contain  grayscale contrast-200;
                    }
                }
            }

            &.fluid {
                .owl-stage {    
                    @apply flex items-center justify-center;
                    
                    img {
                        @apply max-h-[1.818rem] object-contain  grayscale contrast-200;
                    }
                }   
            }
        }

        .logo-groups {
            @apply flex w-full items-start;
        }

        .logo-group {
            @apply flex gap-lg min-w-fit ~px-[2.25rem]/[4.375rem] shrink-0 will-change-transform;
        }

        .logo-image {
            @apply ~h-[1.375rem]/[1.5625rem] w-auto shrink-0 grayscale contrast-200;
        }
    }
}