@layer components {
    .single-assets {
        /* Add your styles here */


        .video-container {
            aspect-ratio: 16 / 9; /* For a 16:9 aspect ratio */
            width: 100%; /* Or a specific width */
        }
          
        .video-container video,
        .video-container iframe {
            width: 100%;
            height: 100%;
        }
    }
}