@layer components {
    .filter-block {
        /* Add your styles here */
        .selectcont {
            @apply !max-w-none !m-0 relative px-[6px];
            ul {
                @apply flex gap-[2rem];
                li {
                    @apply relative;
                    span {
                        @apply !text-black !font-mono !text-[0.75rem];
                    }

                    ul {
                        @apply !right-[unset] left-0;
                    }
                }
            }
        }
        .caf-row {
            @apply !p-0;
            article {
                .manage-layout1 {
                    @apply p-[1.75rem] bg-[#F4EDE9] rounded-none shadow-none;

                    .caf-featured-img-box {
                        @apply !h-[14.75rem] mb-[1.75rem];
                    }

                    #manage-post-area,
                    .caf-meta-content,
                    .caf-content,
                    .caf-content-read-more {
                        @apply !bg-transparent;
                    }

                    .caf-post-title {
                        @apply !p-0;
                    }

                    .caf-meta-content {
                        .author,
                        .comment {
                            @apply !hidden;
                        }
                    }

                    .caf-content-read-more {
                        @apply !p-0;
                        a.caf-read-more {
                            @apply !bg-transparent !text-black !font-secondary-600 !text-[1rem] !p-0 !border-none;
                        }
                    }
                }
            }
        }
        .caf-post-title {
            @apply !bg-transparent;
            h2 a {
                @apply !text-black !text-[1.25rem] !font-secondary-500 !font-normal hover:!text-black;
            }
        }
    }
}