@layer base {
	html {
		scrollbar-gutter: stable;		
		scroll-behavior: smooth;
	}
	::selection {
		@apply text-white bg-[var(--theme-color)];
	}

	.hide-scrollbar {
		*::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}

		* {
			-ms-overflow-style: none; /* Internet Explorer 10+ */
			scrollbar-width: none; /* Firefox */
		}
	}

	section {
		@apply overflow-hidden relative;
	}

	.section-anchor {
		@apply absolute top-[-3.75rem] left-0 h-[0.0625rem] w-full;
	}

    input {
        @apply !rounded-none;
    }

	body {
		@apply font-primary relative;
	}

	@supports (font: -apple-system-body) and (-webkit-appearance: none) {
		@media (hover: hover) and (pointer: fine) {
		  html, body {
			height: 100% !important;
			overflow-x: hidden !important;
			overflow-y: auto !important;
		  }
		}
	}
}

@layer components {
	.container {
		@apply mx-auto max-w-[90rem] px-[1.25rem] md:px-[5rem];
		/*   */

		&.smaller {
			@apply lg:px-[11rem];
		}
	}
	/* section .container {
		@apply ~py-[4rem]/[7rem];
	} */

	.alpha {
		@apply opacity-0 invisible;
	}

	.outer-word,
	.outer-char {
		clip-path: polygon(0% 0%, 0% 120%, 110% 120%, 110% 0%);
	}

	.inner-char,
	.inner-word {
		@apply inline-block translate-y-[120%] translate-z-0 will-change-transform;
	}
	.body-scroll-lock {
		@apply touch-none overflow-y-hidden h-screen;
	}
	.to-animate {
		@apply opacity-0;
	}
	.animation-disabled {
		.to-animate {
			@apply opacity-100;
		}
	}
}

@keyframes loading {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: -100% 0;
	}
}

.bg-dark {
	@apply bg-[#1a1a1a] text-white;
}

.bg-white {
	@apply bg-[#ffffff] text-dark;
}

.skeleton {
	@apply relative;
	&::before {
		animation: skeleton-loading 1s linear infinite alternate;
		content: "";
		@apply w-full h-[104%] absolute top-0 left-0 z-50 pb-[4rem];
	}
	&-text {
		width: 100%;
		margin-bottom: 0.5rem;
		border-radius: 0.25rem;
		&__body {
			width: 75%;
		}
	}
	&-eyebrow {
		@apply w-min;
	}
	&-footer {
		width: 30%;
	}
	&-image {
		@apply absolute top-[-15%] left-[-10%] w-[120%] h-[130%] z-[9999];	
		animation: skeleton-loading 1s linear infinite alternate;
		content: "";
	}
}
  
@keyframes skeleton-loading {
	0% {
	  background-color: #E1E1E1;
	}
	100% {
	  background-color: hsl(200, 20%, 95%);
	}
}


.transition-splitting {
	@apply invisible;
	&.active {
		@apply visible;
	}
}

.splitting .word {
	@apply mx-[0.1rem];
}

.rich-content {	
	@apply flex flex-col gap-[2.75rem] [&_.wp-block-heading]:mb-0 [&_table_img]:max-w-[1.5rem] [&_table_strong]:text-[1.25rem] [&_table_strong]:font-primary-600 [&_table_td]:p-[0.625rem_0.75rem];

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		/* background: none;
		background-clip: unset;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: #000; */
		color: #000;
	}
	h1,
	.h1,
	h1 strong {
		/* @apply ~text-[1.5rem]/[2.5rem] 2xl:text-[2.5rem] font-secondary-600 leading-[125%]; */
		@apply ~text-[2rem]/[3.5rem] font-secondary-700 leading-[100%];
	}


	h2,
	.h2,
	h2 strong {
		@apply ~text-[2.5rem]/[3rem] font-secondary-700 leading-[100%];
	}

	h3,
	.h3,
	h3 strong {
		@apply ~text-[1.25rem]/[2.5rem] leading-[130%] font-secondary-500;
	}

	h4,
	.h4,
	h4 strong {
		@apply ~text-[1.125rem]/[1.75rem] leading-[120%] font-secondary-500;
	}

	h5,
	.h5,
	h5 strong,
	h6,
	.h6,
	h6 strong {
		@apply text-[1.125rem] leading-[120%] font-secondary-500;
	}
	
	p {
		@apply block ~text-[1rem]/[[1.125rem]] font-secondary ~leading-[1.4rem]/[1.6rem] text-black;
		b,
		strong {
			@apply font-primary-600;
		}
		&:last-of-type {
			@apply mb-0;
		}
	}

	a {
		@apply text-black underline !font-secondary;
		strong {
			@apply !font-secondary;
		}
		&.link,
		&.btn {
			@apply !font-secondary;
		}
	}

	.wp-block-list {
		@apply font-primary;
	}

	.wp-block-table table {
		@apply font-primary;
	}

	ul {
		@apply m-0 list-none flex flex-col !gap-[0.75rem];

		li {
			@apply pl-[0.75rem] relative !font-secondary text-[1.125rem] leading-[130%];

			&::before {
				content: "•";
				@apply absolute left-0 top-0;
			}
		}

	}
	
	ol {
		@apply list-decimal m-0 leading-[200%] flex flex-col gap-[0.75rem];

		li {
			@apply relative leading-[130%] !font-secondary;
		}
	}	

	.wp-block-heading {
		@apply mt-[0.75rem] lg:mt-[1rem];

		&:first-of-type {
			@apply mt-0;
		}
	}

	iframe {
		@apply w-full;
	}
	.wp-block-group > .wp-block-group__inner-container {
		@apply flex flex-col gap-[1rem];
	}
}

.facetwp-facet.facetwp-type-dropdown {
	@apply relative before:content-[''] before:block before:absolute before:top-0 before:left-[-1rem] before:w-full before:h-full before:z-10 before:pointer-events-none before:bg-[url('../../img/svg/select-arrow.svg')] before:bg-no-repeat before:bg-right;
	select {
		appearance: none;
		/* for Firefox */
		-moz-appearance: none;
		/* for Chrome */
		-webkit-appearance: none;		
		/* @apply focus:bg-[url('../../img/svg/select-arrow.svg')] focus:bg-[#FF0000] focus:bg-no-repeat focus:bg-right;
		&:focus {
			transform: scaleY(-1);
		} */
		 @apply relative z-20 cursor-pointer;

	  }
	  
	  /* For IE10 */
	  select::-ms-expand {
		display: none;
	  }

	  
}

.wp-block-separator {
	@apply !border-[1px];
}

.cky-modal.cky-sidebar-right.cky-modal-open .cky-preference-center .cky-prefrence-btn-wrapper .cky-btn.cky-btn-accept {
	@apply !text-[var(--font-color-light)];
}

.cky-consent-container .cky-consent-bar {
	@apply lg:w-[29.813rem] w-full !p-[1.5rem];
	.cky-notice-des p {
		@apply !text-[0.8125rem] !leading-[1.3rem] !font-secondary;
	}
	.cky-title {
		@apply !text-[1rem] !font-secondary leading-[1.6rem];
	}
	.cky-notice-btn-wrapper {
		@apply !mt-[1rem] !flex-row-reverse !gap-[1rem];
		.cky-btn {
			@apply !text-[0.875rem] !font-tertiary !text-center !p-[0.5rem_0.75rem] !border-[var(--font-color-dark)] !text-[var(--font-color-dark)] !rounded-[1.75rem];
			
			&.cky-btn-accept {
				@apply !bg-[var(--theme-color)] !border-[var(--theme-color)] !text-[var(--font-color-light)];
			}
		}
	}
}
.cky-modal.cky-modal-open .cky-preference-center {
	@apply !bg-[var(--font-color-light)] w-[29.5rem];
	.cky-preference-title,
	.cky-preference-content-wrapper,
	.cky-accordion-btn {
		@apply !text-[var(--font-color-dark)] !font-secondary;
	}	
	.cky-accordion-btn {
		@apply rounded-[0.25rem]
	}
	.cky-preference-content-wrapper,
	.cky-accordion-header-des {
		p {
			@apply !text-[0.875rem] !leading-[1.4rem] !font-secondary;
		}
	}	
	.cky-preference-content-wrapper {
		@apply flex flex-col gap-[0.5rem] items-start justify-start;
	}
	.cky-always-active {
		@apply !text-[var(--theme-color)];	
	}
	.cky-accordion-chevron {
		@apply !hidden;
	}
	.cky-accordion-header-wrapper {
		.cky-accordion-btn {
			@apply !font-secondary !text-[0.875rem] !leading-[1.4rem] !text-[var(--font-color-dark)];
		}
		.cky-accordion-header-des p {
			@apply !tracking-[-0.008125rem] !text-[0.8125rem] !leading-[1.3rem] !text-[var(--font-color-dark)];	
		}
	}
	.cky-footer-shadow {
		@apply !hidden;
	}
	.cky-empty-cookies-text {
		@apply !font-secondary !text-[0.875rem];
	}	
	.cky-accordion-body {
		@apply !px-0;
	}
	.cky-prefrence-btn-wrapper {
		@apply flex gap-[1rem];
		
		.cky-btn {
			@apply !text-[0.875rem] !font-tertiary !text-center !p-[0.5rem_0.75rem] !border-[var(--font-color-dark)] !text-[var(--font-color-dark)] !rounded-[1.75rem];	

			&.cky-btn-accept {
				@apply !bg-[var(--theme-color)] !border-[var(--theme-color)] !text-[var(--font-color-light)];
			}
		}
	}
	.cky-always-active {
		@apply !font-secondary !shadow-none text-[0.875rem];
	}
	.cky-show-desc-btn {
		@apply !text-[var(--theme-color)];
	}
}

.mepr-loading-gif {
	@apply !hidden;
}

.blurred-box {
	border-image:linear-gradient(135deg, rgba(255,255,255, 0.2), transparent) 1 round; 
	background: linear-gradient(120deg, rgba(31, 30, 30, 0.56) 3.57%, rgba(22, 22, 22, 0.26) 93.11%); 
	backdrop-filter: blur(5.949999809265137px);
	@apply border border-solid border-white border-opacity-20;
}

.single-resources {	
	.gated .single-stats .ss__normal {
		@apply !gap-0;
	}
	.sidebar {	
		border-image:linear-gradient(-135deg, rgba(255,255,255, 0.2), transparent) 1; 
		background: linear-gradient(120deg, rgba(255, 255, 255, 0.74) 3.57%, rgba(255, 255, 255, 0.24) 93.11%); 
		backdrop-filter: blur(5.949999809265137px);
		@apply border border-solid border-white border-opacity-20 w-[24rem] min-w-[24rem] rounded-[0.1875rem];
	}
	.gform_wrapper {
		.gform_heading {
			@apply hidden;
		}
		.gform_fields {
			@apply !gap-y-[1rem] !gap-x-[1.5rem];
		}
		label.gfield_label  {
			@apply font-primary text-[0.75rem] tracking-[-0.00875rem] leading-[1.4rem] text-tertiary mb-[0.25rem];
		}
		.gfield_consent_label {
			@apply font-primary text-[0.75rem] tracking-[-0.00875rem] leading-[1.4rem] text-tertiary mb-[0.25rem] ml-[0.5rem];
			b {
				@apply text-primary;
			}
		}
		input[type="text"],
		input[type="email"],
		textarea {
			@apply !rounded-[34px] !overflow-hidden h-[2.5rem] focus:border-tertiary active:border-tertiary !text-[1rem] !font-primary tracking-[-0.0225rem] !p-[0.75rem_1rem];
			border: 1px solid rgba(255, 255, 255, 0.20);
			background: transparent;

			&::placeholder {
				@apply !text-[1.125rem] !text-opacity-100 !text-white;
			}
		}
		input[type="checkbox"] {
			@apply !rounded-[0.25rem] border border-solid border-tertiary;
		}
		textarea {
			@apply max-h-[6.9375rem];
		}
		.charleft {
			@apply hidden;
		}
		.gfield_required_asterisk {
			@apply !text-tertiary !text-[0.75rem];
		}
		.gform-footer {
			@apply  !pb-0 !mb-0 !pt-0 !mt-[1rem];

			input[type="submit"] {
				@apply bg-primary text-tertiary mb-[6px] inline w-auto py-[0.75rem] px-[1rem] !rounded-[38px] overflow-hidden text-[1rem] tracking-[-0.02rem] !font-primary max-lg:mb-0 bg-no-repeat cursor-pointer;				
			}
		}
		.gform_validation_errors,
		.gfield_validation_message {
			@apply !hidden;
		}
		
		
		&.gravity-theme .gfield_error .gfield_repeater_cell label, 
		&.gravity-theme .gfield_error label, 
		&.gravity-theme .gfield_error legend, 
		&.gravity-theme .gfield_validation_message, 
		&.gravity-theme .validation_message, 
		&.gravity-theme [aria-invalid=true]+label, .gform_wrapper.gravity-theme label+[aria-invalid=true] {
			@apply !text-tertiary
		}

		.ginput_container_consent {
			@apply flex items-center;
			.gfield_consent_label {
				@apply !mb-[0.1rem];
			}
		}

	}
}

/*fix for mac scroll*/
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
	html, body {
	  height: 100%;
	  overflow-x: hidden !important;
	  overflow-y: auto !important;
	  -webkit-overflow-scrolling: touch !important;
	}
}
        

/* Image reveal animations */
.reveal {
	visibility: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 100%;
	overflow: hidden;

	&.reveal--overlay {
		background-color: #189eff;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


a.link-hover-underline {
	@apply before:w-0 relative;
	
	&:hover::before {
		animation: showHoverLine 1s forwards ease-in-out; 
	}
	
	&::before {
		@apply content-['']  h-[1px] absolute bottom-[-6px] bg-black;
	}
	
	@keyframes showHoverLine {
		0% {
		width: 0;
		}
		100% {
		width: 100%;
		}
	}
}      