@layer base {
	html {
		scrollbar-gutter: stable;		
		scroll-behavior: smooth;
	}
	::selection {
		@apply text-white bg-[var(--theme-color)];
	}

	.hide-scrollbar {
		*::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}

		* {
			-ms-overflow-style: none; /* Internet Explorer 10+ */
			scrollbar-width: none; /* Firefox */
		}
	}

	section {
		@apply overflow-hidden relative;
	}

	.section-anchor {
		@apply absolute top-[-3.75rem] left-0 h-[0.0625rem] w-full;
	}

    input {
        @apply !rounded-none;
    }

	body {
		@apply font-primary relative;
	}

	@supports (font: -apple-system-body) and (-webkit-appearance: none) {
		@media (hover: hover) and (pointer: fine) {
		  html, body {
			height: 100% !important;
			overflow-x: hidden !important;
			overflow-y: auto !important;
		  }
		}
	}
}

@layer components {
	.container {
		@apply mx-auto max-w-[90rem] px-[1.25rem] md:px-[5rem];
		/*   */

		&.smaller {
			@apply lg:px-[11rem];
		}
	}
	.alpha {
		@apply opacity-0 invisible;
	}

	.outer-word,
	.outer-char {
		clip-path: polygon(0% 0%, 0% 120%, 110% 120%, 110% 0%);
	}

	.inner-char,
	.inner-word {
		@apply inline-block translate-y-[120%] translate-z-0 will-change-transform;
	}
	.body-scroll-lock {
		@apply touch-none overflow-y-hidden h-screen;
	}
	.to-animate {
		@apply opacity-0;
	}
	.animation-disabled {
		.to-animate {
			@apply opacity-100;
		}
	}
}

@keyframes loading {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: -100% 0;
	}
}

.bg-dark {
	@apply bg-[#1a1a1a] text-white;
}

.bg-white {
	@apply bg-[#ffffff] text-dark;
}

.single {
	.wp-block-table {
		@apply font-tertiary my-[2rem];
		table {
			@apply mb-[1rem];
		}
		td,
		th {
			@apply ~text-[.875rem]/[1rem];
		}
		strong {
			@apply font-tertiary;
		}
	}
	.wp-block-paragraph strong,
	.wp-block-list strong {
		@apply font-tertiary;
	}
}

.rich-content {	
	@apply flex flex-col gap-[2.75rem] [&_.wp-block-heading]:mb-0 [&_table_img]:max-w-[1.5rem] [&_table_strong]:text-[1.25rem] [&_table_strong]:font-primary [&_table_td]:p-[0.625rem_0.75rem];

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #000;
	}
	h1,
	.h1,
	h1 strong {
		@apply ~text-[2rem]/[3.5rem] font-primary leading-[100%];
	}


	h2,
	.h2,
	h2 strong {
		@apply ~text-[2.5rem]/[3rem] font-primary leading-[100%];
	}

	h3,
	.h3,
	h3 strong {
		@apply ~text-[1.25rem]/[2.5rem] leading-[130%] font-primary;
	}

	h4,
	.h4,
	h4 strong {
		@apply ~text-[1.125rem]/[1.75rem] leading-[120%] font-primary;
	}

	h5,
	.h5,
	h5 strong,
	h6,
	.h6,
	h6 strong {
		@apply text-[1.125rem] leading-[120%] font-primary;
	}
	
	p {
		@apply block ~text-[1rem]/[[1.125rem]] font-primary ~leading-[1.4rem]/[1.6rem] text-black;
		b,
		strong {
			@apply font-primary;
		}
		&:last-of-type {
			@apply mb-0;
		}
	}

	a {
		@apply text-black underline !font-primary;
		strong {
			@apply !font-primary;
		}
		&.link,
		&.btn {
			@apply !font-primary;
		}
	}

	.wp-block-list {
		@apply font-primary;
	}

	.wp-block-table table {
		@apply font-tertiary text-[1rem];
		td,
		th {
			@apply text-[1rem];
		}
	}

	ul {
		@apply m-0 list-none flex flex-col !gap-[0.75rem];

		li {
			@apply pl-[0.75rem] relative !font-primary text-[1.125rem] leading-[130%];

			&::before {
				content: "•";
				@apply absolute left-0 top-0;
			}
		}

	}
	
	ol {
		@apply list-decimal m-0 leading-[200%] flex flex-col gap-[0.75rem];

		li {
			@apply relative leading-[130%] !font-primary;
		}
	}	

	.wp-block-heading {
		@apply mt-[0.75rem] lg:mt-[1rem];

		&:first-of-type {
			@apply mt-0;
		}
	}

	iframe {
		@apply w-full;
	}
	.wp-block-group > .wp-block-group__inner-container {
		@apply flex flex-col gap-[1rem];
	}
}

.wp-block-separator {
	@apply !border-[1px];
}

.single-resources {	
	.gated .single-stats .ss__normal {
		@apply !gap-0;
	}
	.sidebar {	
		border-image:linear-gradient(-135deg, rgba(255,255,255, 0.2), transparent) 1; 
		background: linear-gradient(120deg, rgba(255, 255, 255, 0.74) 3.57%, rgba(255, 255, 255, 0.24) 93.11%); 
		backdrop-filter: blur(5.949999809265137px);
		@apply border border-solid border-white border-opacity-20 w-[24rem] min-w-[24rem] rounded-[0.1875rem];
	}
	.gform_wrapper {
		.gform_heading {
			@apply hidden;
		}
		.gform_fields {
			@apply !gap-y-[1rem] !gap-x-[1.5rem];
		}
		label.gfield_label  {
			@apply font-primary text-[0.75rem] tracking-[-0.00875rem] leading-[1.4rem] text-tertiary mb-[0.25rem];
		}
		.gfield_consent_label {
			@apply font-primary text-[0.75rem] tracking-[-0.00875rem] leading-[1.4rem] text-tertiary mb-[0.25rem] ml-[0.5rem];
			b {
				@apply text-primary;
			}
		}
		input[type="text"],
		input[type="email"],
		textarea {
			@apply !rounded-[34px] !overflow-hidden h-[2.5rem] focus:border-tertiary active:border-tertiary !text-[1rem] !font-primary tracking-[-0.0225rem] !p-[0.75rem_1rem];
			border: 1px solid rgba(255, 255, 255, 0.20);
			background: transparent;

			&::placeholder {
				@apply !text-[1.125rem] !text-opacity-100 !text-white;
			}
		}
		input[type="checkbox"] {
			@apply !rounded-[0.25rem] border border-solid border-tertiary;
		}
		textarea {
			@apply max-h-[6.9375rem];
		}
		.charleft {
			@apply hidden;
		}
		.gfield_required_asterisk {
			@apply !text-tertiary !text-[0.75rem];
		}
		.gform-footer {
			@apply  !pb-0 !mb-0 !pt-0 !mt-[1rem];

			input[type="submit"] {
				@apply bg-primary text-tertiary mb-[6px] inline w-auto py-[0.75rem] px-[1rem] !rounded-[38px] overflow-hidden text-[1rem] tracking-[-0.02rem] !font-primary max-lg:mb-0 bg-no-repeat cursor-pointer;				
			}
		}
		.gform_validation_errors,
		.gfield_validation_message {
			@apply !hidden;
		}
		
		
		&.gravity-theme .gfield_error .gfield_repeater_cell label, 
		&.gravity-theme .gfield_error label, 
		&.gravity-theme .gfield_error legend, 
		&.gravity-theme .gfield_validation_message, 
		&.gravity-theme .validation_message, 
		&.gravity-theme [aria-invalid=true]+label, .gform_wrapper.gravity-theme label+[aria-invalid=true] {
			@apply !text-tertiary
		}

		.ginput_container_consent {
			@apply flex items-center;
			.gfield_consent_label {
				@apply !mb-[0.1rem];
			}
		}

	}
}

/*fix for mac scroll*/
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
	html, body {
	  height: 100%;
	  overflow-x: hidden !important;
	  overflow-y: auto !important;
	  -webkit-overflow-scrolling: touch !important;
	}
}

a.link-hover-underline {
	@apply before:w-0 relative;
	
	&:hover::before {
		animation: showHoverLine 1s forwards ease-in-out; 
	}
	
	&::before {
		@apply content-['']  h-[1px] absolute bottom-[-6px] bg-black;
	}
	
	@keyframes showHoverLine {
		0% {
		width: 0;
		}
		100% {
		width: 100%;
		}
	}
}      

.wp-block-list {
	@apply m-0 pl-[0.5rem] list-none flex flex-col gap-[0.5rem];
	li {
		@apply pl-[1rem] relative font-tertiary max-lg:text-[.875rem] text-[1rem];

		&::before {
			content: "•";
			@apply absolute left-0 top-0;
		}
	}
}