.home {

    #top-nav {
        @apply fixed top-[-100%] left-0 z-[9999] w-full bg-[#DBD5C6] transition-all duration-300 ease-in-out;        
        &.top-nav-active {
            @apply top-0 ;
        }
        .nav__search {
            @apply max-lg:hidden;
        }
        .custom-nav-ball {
            @apply hidden;
        }
    }

    .custom-nav {
        .menu-title {
            @apply !text-white/[0.64] max-lg:!text-[0.8125rem];
        }
        .nav__logo {
            @apply hidden;
        }
        .nav__wrap {
            @apply justify-center;
        }
        .nav__search {
            @apply hidden;
        }
        .nav__burger  {
            @apply !hidden;
        }
        .nav__group {
            @apply !flex max-lg:gap-[0.5rem];
        }
        .custom-nav-ball {
            @apply block;
        }
    }
}