@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "typography";
@import "header";
@import "footer";
@import "global";
@import "image";
@import "buttons";
@import "dialog";
@import "spacings";
@import "tables";


@layer base {
    * {
        outline: none;
        box-sizing: border-box;
    }
    
    html {
        @apply m-0 p-0 max-w-[100svw] min-w-full w-full h-[100svh] min-h-[100svh] max-h-[100svh] text-black 3xl:text-[clamp(100%,0.85vw,300%)] 2xl:text-[clamp(100%,0.90vw,300%)] text-[1rem];        

        overscroll-behavior: none;
        scroll-behavior: none;
    
        @apply overflow-x-hidden;
        @apply overflow-y-auto;
    
        &.disable-scrolling,
        &:has(dialog[open]) {
            @apply overflow-hidden;
        }
    }
    
    body {
        @apply bg-none max-w-[inherit] min-w-[inherit] w-[inherit] m-0 p-0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
    }
}
[class*="_topDescription"] {
    @apply !hidden;
}
._container_ud4nd_29 {
  max-width: unset !important;
  @apply !font-secondary;
}
._topDescription_12ylk_30 p {
    @apply ~text-[1rem]/[1.5rem];
}
._filtersContainer_12ylk_136 {
    @apply flex !flex-row;
}
._filtersHeader_12ylk_201 {
    @apply min-w-[10rem] !mb-0;
}
.ashby-job-board-filters-label  {
    @apply !font-tertiary !font-normal;
}
.ashby-job-posting-brief-title {
    @apply !text-[1.5rem] !font-normal !font-secondary-500 !text-black;
}
._filterContainer_12ylk_278 select {
    @apply rounded-[2rem] px-[1.25rem] py-[0.75rem];
}
.ashby-job-posting-brief-details p {
    @apply font-tertiary text-[1rem] text-[#7A3300];
    
    &._detailsCompensation_12ylk_395 {
        @apply !text-[1.5rem] !font-normal !font-secondary !text-[#57514E];
    }
}
._filters_12ylk_136 {
    @apply !w-full;
}
.ashby-department-heading {
    @apply !px-0;
}
.ashby-job-posting-brief {
    @apply !shadow-none;
}
/* ._jobPosting_12ylk_379:hover, 
._jobPosting_12ylk_379:active {
    @apply !border-none ;
} */