@layer components {
    .sixty-forty-hero {
        /* Add your styles here */

        &.bg-pos {
            background-position: center 0;                            
            
            &__single {
                background-position: center 2rem;
            }            
        }
    }
}