@layer components {
    .tabbed-carousels {        
        .tab-pane {
            @apply hidden;
        }
        .tab-pane {
            &.active {
                @apply block;
            }
        }
        
        .carousel {
            background: #EEE;
        }
        
        .carousel-cell {
            margin-right: 20px;
            overflow: hidden;
        }
        
        .carousel-cell img {
            display: block;
            height: 200px;
        }
        
        @media screen and ( min-width: 768px ) {
            .carousel-cell img {
            height: 400px;
            }
        }

        [data-scrollable] {
            overflow: hidden;
            position: relative;
        }
        [data-scrollable-inner] {
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            position: relative;
        }
        .design-card-list--with-attributions {
            text-align: left;
        }
        .design-card-list {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .design-card-list--large .design-card-list__item {
            display: inline-flex;
            flex-direction: column;
            width: 450px;
            height: auto;
            margin-bottom: 0;
            padding-top: 10px;
        }
        .design-card-list__item:first-child {
            margin-left: 15px;
            margin-right: 15px;
        }
        .design-card-list__item {
            width: 250px;
            height: 250px;
            display: inline-block;
            margin-bottom: 15px;
            position: relative;
            vertical-align: top;
        }
        .design-card--relative {
            position: relative;
          
        }
        .design-card {
            visibility: hidden;
            box-shadow: 0 7px 21px 0 rgba(0,0,0,.1);
            text-align: left;
            height: 100%;
            width: 100%;
           
        }
        .design-card-list__item__attribution {
            margin-top: 15px;
            white-space: normal;
        }
        .attribution--inline {
            display: table;
        }
        .attribution {
            font-family: Georgia,serif;
            color: #999;
            font-style: italic;
        }
        .attribution--inline .attribution__avatar, .attribution--inline .attribution__text {
            display: table-cell;
        }
        .avatar--extra-small {
            width: 32px;
            height: 32px;
        }
        .avatar {
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }
        .avatar__image {
            border-radius: 50%;
            display: block;
        }
        a img {
            border: none;
        }
        img {
            border: 0;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
        .avatar--extra-small .avatar__indicator {
            border-width: 1px;
            width: 8px;
            height: 8px;
        }
        .avatar__indicator {
            display: none;
            position: absolute;
            background: #2f9780;
            border-radius: 50%;
            border: 2px solid #fff;
            right: 0;
            bottom: 0;
        }
        .attribution--inline .attribution__text {
            padding-left: 10px;
        }
        .display-name--link-subtle:link, .display-name--link-subtle:visited {
            color: #999;
            border-color: rgba(153,153,153,.2);
        }
        .display-name--link-subtle {
            text-decoration: none;
            transition: border-color .15s ease-out;
            color: #999;
            border-bottom: solid 2px rgba(153,153,153,.2);
        }
        .display-name {
            color: #555;
            font-family: Georgia,serif;
            font-style: italic;
        }
        .design-card-list__item+.design-card-list__item {
            margin-right: 15px;
        }
        .design-card__pill {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
        .design-card--collapse .design-card__meta {
            padding: 0;
        }
        .design-card__meta__cta::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: currentColor;
            opacity: .9;
        }
        .design-card--heavy-shadow:hover {
            box-shadow: 0 14px 42px 0 rgba(0,0,0,.2);
        }
        .design-card__meta__cta__content {
            padding: 60px;
        }
        .design-card__label__text, .design-card__meta__cta__content__text {
            position: relative;
            color: #fff;
        }
        .marketing-icon--t-shirt-design:before {
            content: ""!important;
        }
        .marketing-icon:before {
            font-family: AsimovMarketingIcon;
            font-weight: 400;
            font-style: normal;
            text-decoration: inherit;
            display: inline-block;
            speak: none;
            zoom: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-variant: normal;
            font-size: 60px;
            text-transform: none;
            line-height: 1;
        }
        .heading--quarter-margin {
            margin-bottom: .4em;
        }
        .heading--bleached-as {
            color: #fff;
        }
        .heading--h4 {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 1.6rem;
            font-family: Larsseit-Bold,sans-serif;
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: -.005em;
        }
        .paragraph--narrow {
            max-width: 20em;
        }
        .paragraph {
            font-family: "Atlas Grotesk Web",sans-serif;
            font-size: 16px;
            line-height: 1.6;
            margin: 0 0 1.6rem;
        }
        .heading--no-margin {
            margin-bottom: 0!important;
        }
        .heading--h5 {
            font-size: 19px;
            margin-top: 0;
            margin-bottom: .8rem;
            font-family: Larsseit-Bold,sans-serif;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: 0;
        }
        .design-card:hover .design-card__meta {
            opacity: 1;
            visibility: visible;
        }
        .design-card__meta {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition-duration: .3s;
            transition-timing-function: ease-out;
            transition-property: opacity,visibility;
            padding: 30px;
            z-index: 2;
            white-space: normal;
        }
        .design-card-list--large .design-card-list__item {
            display: inline-flex;
            flex-direction: column;
            width: 450px;
            height: auto;
            margin-bottom: 0;
            padding-top: 10px;
        }
        .design-card__label__text, .design-card__meta__cta__content__text {
            position: relative;
            color: #fff;
        }
        .design-card:hover .design-card__label, .design-card:hover .design-card__pill {
            opacity: 0;
            visibility: hidden;
        }
        .design-card__meta__cta, .design-card__meta__cta:hover, .design-card__meta__cta:visited {
            color: inherit;
            text-decoration: none;
        }
        .sticker--chameleon {
            background-color: currentColor;
        }
        .sticker {
            display: inline-block;
            border-radius: 20px;
            padding: 4px 10px;
            background-color: #ff7e65;
            font-size: 14px;
        }
  
    }
}