<section class="{{ block.slug ?? 'single-buttons' }} bg-[transparent] ">
    {% if fields.anchor|length > 0 or custom_id %}
        <div class="section-anchor" id="{{ custom_id ?? fields.anchor }}"></div>
    {% endif %}
              
    {% if fields.cta.url|length > 0 %}
        {% if fields.is_not_btn %}	        
            {% set custom_class = '!no-underline !leading-[1.25rem]' %}		
        {% else %}
            {% set custom_class = 'btn bg-black hover:bg-[#874719] [&_div]:text-white [&_div]:font-mono !no-underline !leading-[1rem]' %}						
        {% endif %}
    
        {% include 'components/cta.twig' with {
            'class' : custom_class,
            'cta': fields.cta, 
            'icon': true,
            'is_not_btn': fields.is_not_btn
        } %}
    {% endif %}
</section>