@layer components {  
    .hero-banner-full {
        /* will-change: transform; */

        .para {  
            @apply pt-[1.4375rem] relative;          
        }

        .video-container {
            aspect-ratio: 16 / 9; /* For a 16:9 aspect ratio */
            width: 100%; /* Or a specific width */
        }
          
        .video-container video,
        .video-container iframe {
            width: 100%;
            height: 100%;
        }

        .rotating-words-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: white;

            &__inner {
              @apply relative w-full overflow-hidden h-auto  ~mt-[0.75rem]/[1rem];
              /* @apply ~h-[3.5rem]/[7.25rem] max-w-[839px]:xl:h-[7.6rem] ;               */
            }
          }

          #rotate {            
            /* overflow: hidden; */
            /* span {
              line-height: 90%;
              padding-bottom: 20px;

            } */
          }

          span {
            .active {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0; 
              width: 100%;
              /* overflow: hidden; */
              animation: rotateWordsNew 7s ease-in-out;
            }
          }                   

          @keyframes introWords {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
          
          @keyframes rotateWords {
            0%, 100% {
              opacity: 0;
              transform: translate3d(-100%, 0, 0);
            }
            10%, 25% {
              opacity: 1;
              transform: translate3d(0%, 0, 0);
            }
            35%, 50% {
              opacity: 1;
              transform: translate3d(-200%, 0, 0);
            }
          }
          
          @keyframes rotateWordsNew {
            0%, 100% {
              opacity: 0;
              transform: translate3d(0, 100%, 0);
            }
            10%, 25% {
              opacity: 1;
              transform: translate3d(0, 0, 0);
            }
            35%, 50% {
              opacity: 1;
              transform: translate3d(0, -200%, 0);
            }
          }
          
    }
}
