name: Production Deployment
on:
  push:
    branches:
     - main
     - staging
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Production
        if: github.ref == 'refs/heads/main'
        uses: /Component-Earth/componentearth/deployment@main
        with:
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPE_SSHG_KEY_PRIVATE }}
          WPE_ENV: ${{ vars.PRD_ENV }}
          THEME_ENVIRONMENT: "production"
          
      - name: Deploy Staging
        if: github.ref == 'refs/heads/staging'        
        uses: /Component-Earth/componentearth/deployment@staging
        with:
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPE_SSHG_KEY_PRIVATE }}          
          WPE_ENV: ${{ vars.STG_ENV }}
          THEME_ENVIRONMENT: "staging"
