name: Production Deployment
on:
  push:
    branches:
     - main
     - staging
jobs:
  deploy-action:
    name: Deploy action
    runs-on: ubuntu-latest
    steps:
      - uses: /AspirationCarbon/componentearth/deployment@main
        with:
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPE_SSHG_KEY_PRIVATE }}
          WPE_ENV: ${{ vars.PRD_ENV }}
          THEME_ENVIRONMENT: "production"
  deploy-stg:
    name: Deploy Staging
    runs-on: ubuntu-latest
    steps:
      - uses: /AspirationCarbon/componentearth/deployment@staging
        with:
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPE_SSHG_KEY_PRIVATE }}          
          WPE_ENV: ${{ vars.STG_ENV }}
          THEME_ENVIRONMENT: "staging"
